<!DOCTYPE html>
<html>
  <body>
  <table border="1" width="1200">
    <tr align="center">
      <td>日付</td>
      <td>曜日</td>
      <td>出社</td>
      <td>退社</td>
      <td>在社時間</td>
      <td>備考</td>
      <td>残業指示</td>
      <td>指示者</td>
    </tr>
      <% (@first_day.day...@last_day).each do |temp_day| %>
        <tr align="center" height="50">
        <td><%= @first_day.month %>/<%= temp_day %></td>
        <td><%= @attendance.month %>/<%= @attendance.day %>></td>
        <td><%= f.text_field :name, class: 'form-control' %></td>
        </tr>
      <% end %>
  </table> 
  </body>
</html>    