<!DOCTYPE html>
<html>

<body>
 <table border="1" width="1200">
    <tr align="center">
      <td height="45">
        <%= link_to "←", user_path(piyo: @first_day.prev_month),style:"color:white", class: 'btn btn-default btn-primary' %>   
        <%= @first_day.year %>年<%= @first_day.month %>月の時間管理表   
        <%= link_to "→", user_path(piyo: @first_day.next_month),style:"color:white", class: 'btn btn-default btn-primary' %>
        
      </td>
      <td>指定勤務時間 8:00</td>
      <td colspan="3">7:50 基本時間</td>
      <td>初日 <%= @first_day.month %>/<%= @first_day.day %></td>
    </tr>
    <tr align="center">
      <td>所属 <%= @user.affiliation %></td>
      <td>氏名 <%= @user.name %></td>
      <td>コード</td>
      <td width="10"></td>
      <td>出勤日数</td>
      <td>締め <%= @first_day.month %>/<%= @last_day %></td>
    </tr>
    </table> 
</body>
　
　<br><br><br>
　
　<body><%= link_to "勤怠を編集", attend_edit_path, style:"color:white", class: 'btn btn-default btn-primary' %>
　  <table class="s-tbl" border="1" width="1200">
      <tr align="center">
        <td rowspan="2">日付</td>
        <td rowspan="2">曜日</td>
        <td colspan="3">出社</td>
        <td colspan="3">退社</td>
        <td rowspan="2">滞在時間</td>
        <td rowspan="2">備考</td>
        <td rowspan="2">残業指示</td>
        <td rowspan="2">残業指示者</td>
      </tr>
      
      <tr align="center">
        <td>時</td><td>分</td><td width="130"></td><td>時</td><td>分</td><td width="10"></td>
      </tr>

        <% youbi = %w[日 月 火 水 木 金 土] %>
        <% (@first_day.day...@last_day).each do |temp_day| %>
            <tr align="center" height="50">
              <td><%= @first_day.month %>/<%= temp_day %></td>
              <td><%= @youbi [@first_day.change(day: temp_day) .wday] %></td>
              
              
              <td><%# 出勤時間 %>
                  <% @attendance.each do |value| %>
                    <% arrival_h = value[:arrival] %>
                    <%= arrival_h.hour if @first_day.year == @y_m_d.year && @first_day.month == @y_m_d.month  && arrival_h.day == temp_day %>
                  <% end %>
              </td>

              <td><%# 出勤分 %>
                  <% @attendance.each do |value| %>
                    <% arrival_m = value[:arrival] %>
                    <%= arrival_m.min if @first_day.year == @y_m_d.year && @first_day.month == @y_m_d.month  && arrival_m.day == temp_day %>
                 <% end %>                
              </td>
              <td width="130">
                <%# 今日の年月日だったらボタン表示。年まで条件付けしないと前年や来年等の同月日にボタンが描画されてしまう為。 %>
                <% comparison_date = Date.new(Date.today.year,Date.today.month,temp_day) %>
                <% range = comparison_date.beginning_of_day..comparison_date.end_of_day %>
                <% if @first_day.year == @y_m_d.year && @first_day.month == @y_m_d.month  && temp_day ==  @y_m_d.day %>
                  <% if @attendance.where(arrival: range).empty? %>  <%# 今日の出勤情報がモデル内に存在しているか判定 %>
                    <%= link_to "出 勤", user_path(flag: "arrival_flag"), style:"color:white", class: "btn btn-primary" %>
                  <% elsif @attendance.where(departure: range).empty? %>　<%# 退勤情報がモデル内に存在しているか判定 %>
                    <%= link_to "退 勤", user_path(flag: "departure_flag"), style:"color:white", class: "btn btn-primary" %>
                  <% else %>
                    <%# 退勤ボタンを押下済みならボタンは非表示 %>
                  <% end %>
                <% end %>
              </td>
              
              <td><%# 退勤時間 %>
                  <% @attendance.each do |value| %>
                    <% departure_h = value[:departure] %>
                    <% if departure_h != nil %>
                      <%= departure_h.hour if @first_day.year == @y_m_d.year && @first_day.month == @y_m_d.month  && departure_h.day == temp_day %>
                    <% end %>
                 <% end %>                
              </td>
              
              <td><%# 退勤分 %>
                  <% @attendance.each do |value| %>
                    <% departure_m = value[:departure] %>
                    <% if departure_m != nil %>
                      <%= departure_m.min if @first_day.year == @y_m_d.year && @first_day.month == @y_m_d.month  && departure_m.day == temp_day %>
                    <% end %>
                 <% end %>                     
              </td>
              <td width="10"></td>
              <td><%# 滞在時間 %>
                  <% @attendance.each do |value| %>
                    <% departure_time = value[:departure] %>
                    <% arrival_time = value[:arrival] %>
                    <% if departure_time != nil %>
                      <%= ((departure_time - arrival_time) / 3600 ).round(2) if @first_day.year == @y_m_d.year && @first_day.month == @y_m_d.month  && departure_time.day == temp_day %>
                    <% end %>
                  <% end %>                
              </td>
              <td></td><td></td><td></td>
            </tr>
        <% end %>
        <td align="center" height="50" colspan="2"><%= 0.00 %></td>
        <td align="center" height="50" colspan="6"></td>
        <td align="center" height="50"><%# 滞在時間合計 %>
        <% total = 0 %>
          <% @attendance.each do |value| %>
            <% departure_time = value[:departure] %>
            <% arrival_time = value[:arrival] %>
            <% if departure_time != nil %>
              <% time_in_company = (departure_time - arrival_time) / 3600 %>
              <% total += time_in_company %>
            <% end %>
          <% end %>
          <%= total.round(2) if  @first_day.year == @y_m_d.year && @first_day.month == @y_m_d.month %>
        </td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50">所属長承認</td>
    </table> 
  </body>
</html>
